.Movie {
  width: 100%;
  height: 70vh;
  background-size: cover;
  padding: 5px;
}

.Movie h2,
.Movie p {
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
}

.Movie .Play {
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}
